<div class="total">
  <div class="formulario">
    <form action="">
      <div class="c1">
        <div class="um"><p>1</p></div>
        <div class="barra"></div>
        <div class="dois"><p>2</p></div>
      </div>
      <br /><br /><br /><br />

      <div class="c2">
        <h1>Forneça os dados abaixo:</h1>
      </div>
      <br />

      <div class="c3">
        <label>Nome</label><br />
        <input type="text" placeholder="Informe o nome" />
      </div>
      <br />

      <div class="c3">
        <label>E-mail</label><br />
        <input type="text" placeholder="Informe o e-mail" />
      </div>
      <br />

      <div class="c3">
        <label>Senha</label><br />
        <input type="text" placeholder="Informe a senha" />
      </div>
      <br />

      <div class="c3">
        <label>Confirmação</label><br />
        <input type="text" placeholder="Confirme a senha" />
      </div>

      <br /><br /><br />

      <div class="c4">
        <button (click)="goToPagamento()">Continuar</button>
      </div>
    </form>
  </div>
</div>
