<div class="total">
  <div class="formulario">
    <form>
      <div class="c1">
        <h1>Olá, bem vindo!</h1>
        <p>Favor, informe seus dados:</p>
      </div>

      <br />

      <div class="c2">
        <label>E-mail</label><br />
        <input type="text" placeholder="Informe o email" />
      </div>
      <br />

      <div class="c2">
        <label>Senha</label><br />
        <input type="text" placeholder="Informe a senha" />
      </div>

      <div class="c3">
        <div class="c4">
          <input type="checkbox" />
          <h3>Lembrar de mim</h3>
        </div>
        <div class="c5">
          <button>Esqueci minha senha</button>
        </div>
      </div>

      <br />
      <br />

      <div class="c6">
        <div class="c7">
          <button>Entrar</button>
        </div>
        <div class="c8">
          <h2>Não possui uma conta?</h2>
          <h2 id="register">Registre-se</h2>
        </div>
      </div>
    </form>
  </div>
</div>
