<div class="total">
  <div class="formulario">
    <form action="">
      <div class="c1">
        <div class="um"><p>1</p></div>
        <div class="barra"></div>
        <div class="dois"><p>2</p></div>
      </div>
      <br /><br /><br /><br />

      <div class="c2">
        <h1>Forneça os dados abaixo:</h1>
      </div>
      <br />

      <div class="c3">
        <label>CPF</label><br />
        <input type="text" placeholder="Informe o nome" />
      </div>
      <br />

      <div class="c3">
        <label>Número do cartão</label><br />
        <input type="text" placeholder="Informe o número do cartão" />
      </div>
      <br />

      <div class="c3">
        <label>Nome no cartão</label><br />
        <input type="text" placeholder="Informe o nome no cartão" />
      </div>
      <br />

      <div class="c3">
        <label>CVV</label><br />
        <input type="text" placeholder="Informe o CVV" />
      </div>

      <br /><br /><br />

      <div class="c4">
        <button>Finalizar</button>
      </div>
    </form>
  </div>
</div>
